<h1 [innerText]="title"></h1>
<hr>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Post ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of jphPosts">
            <td><span [innerText]=post.userId></span></td>
            <td><span [innerText]=post.id></span></td>
            <td><span [innerText]=post.title></span></td>
            <td><span [innerText]=post.body></span></td>
        </tr>
    </tbody>
</table>